.header  {
    height: 54px;
    position: fixed;
    z-index: 1002;
    width: 100vw;
}
.nome-user {
    padding-right: 5px;
}
.fonte-seta {
    font-size: 8px;
}
.ml-10 {
    margin-left: 10px;
}
.ml-menus {
    margin-left: 80px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-20 {
    margin-right: 20px;
}
.kami-name {
    width: 180px;
    text-align: center;
}