<div class="menu-lateral">
    <div class="imagem-empresa">
        <div class="imagem-logo"></div>
    </div>
    <div class="departamento">
        ESCRITA-FISCAL
    </div>
    <div class="menu-opcoes">
        <ul class="list-group" style="padding: 15px 15px 0px 15px">
            <li class="d-flex gap-2 fs-10 mb-3">
                <i class="bi bi-grid-fill"></i>
                <span>Selecionar Dados</span>
            </li>
            <li class="d-flex gap-2 fs-10 mb-3">
                <i class="bi bi-house-fill"></i>
                <span>Home</span>
            </li>


            <li class="d-flex justify-content-between fs-10 mb-3">
                <div class="d-flex gap-2">
                    <i class="bi bi-file-earmark-text"></i>
                    <span>Relatórios</span>
                </div>
                <div>
                    <i class="bi bi-caret-right-fill"></i>
                </div>
            </li>
            
            <li class="d-flex justify-content-between fs-10 mb-3">
                <div class="d-flex gap-2">
                    <i class="bi bi-hdd-fill"></i>
                    <span>Cadastros</span>
                </div>
                <div>
                    <i class="bi bi-caret-right-fill"></i>
                </div>
            </li>

            <li class="d-flex justify-content-between fs-10 mb-3">
                <div class="d-flex gap-2">
                    <i class="bi bi-copy"></i>
                    <span>Integrações</span>
                </div>
                <div>
                    <i class="bi bi-caret-right-fill"></i>
                </div>
            </li>
            <li class="d-flex gap-2 fs-10 mb-3">
                <i class="bi bi-graph-up-arrow"></i>
                <span>Rendimentos</span>
            </li>
            <li class="d-flex justify-content-between fs-10 mb-3">
                <div class="d-flex gap-2">
                    <i class="bi bi-graph-up-arrow"></i>
                    <span>Recebimentos</span>
                </div>
                <div>
                    <i class="bi bi-caret-right-fill"></i>
                </div>
            </li>
          </ul>          
    </div>
</div>